@font-face {
    font-family: 'VAG Rounded Next';
    src: url('https://ik.imagekit.io/agenciapiu/AstraZeneca%20-%20MGg/fonts/VAGRoundedNext-Bold.woff2?updatedAt=1748465863545') format('woff2'),
        url('https://ik.imagekit.io/agenciapiu/AstraZeneca%20-%20MGg/fonts/VAGRoundedNext-Bold.woff?updatedAt=1748465863539') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VAG Rounded Next';
    src: url('https://ik.imagekit.io/agenciapiu/AstraZeneca%20-%20MGg/fonts/VAGRoundedNext-SemiBold.woff2?updatedAt=1748465863530') format('woff2'),
        url('https://ik.imagekit.io/agenciapiu/AstraZeneca%20-%20MGg/fonts/VAGRoundedNext-SemiBold.woff?updatedAt=1748465863539') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VAG Rounded Next';
    src: url('https://ik.imagekit.io/agenciapiu/AstraZeneca%20-%20MGg/fonts/VAGRoundedNext-Regular.woff2?updatedAt=1748465863532') format('woff2'),
        url('https://ik.imagekit.io/agenciapiu/AstraZeneca%20-%20MGg/fonts/VAGRoundedNext-Regular.woff?updatedAt=1748465863542') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}