@font-face {
    font-family: 'VAG Rounded Next';
    src: url('https://ik.imagekit.io/agenciapiu/AstraZeneca%20-%20MGg/FazBem/fonts/VAGRoundedNext-Bold.woff2?updatedAt=1755034199960') format('woff2'),
        url('https://ik.imagekit.io/agenciapiu/AstraZeneca%20-%20MGg/FazBem/fonts/VAGRoundedNext-Bold.woff?updatedAt=1755034199964') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VAG Rounded Next';
    src: url('https://ik.imagekit.io/agenciapiu/AstraZeneca%20-%20MGg/FazBem/fonts/VAGRoundedNext-SemiBold.woff2?updatedAt=1755034199979') format('woff2'),
        url('https://ik.imagekit.io/agenciapiu/AstraZeneca%20-%20MGg/FazBem/fonts/VAGRoundedNext-SemiBold.woff?updatedAt=1755034199970') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VAG Rounded Next';
    src: url('https://ik.imagekit.io/agenciapiu/AstraZeneca%20-%20MGg/FazBem/fonts/VAGRoundedNext-Regular.woff2?updatedAt=1755034199974') format('woff2'),
        url('https://ik.imagekit.io/agenciapiu/AstraZeneca%20-%20MGg/FazBem/fonts/VAGRoundedNext-Regular.woff?updatedAt=1755034199975') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}